{% extends 'dashboard_layout.html' %}

{% block rightpanel %}

  <div class="col md-12">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h3 class="border-bottom pb-2 mb-0">{{server_type}}
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#AddUrlModal">Add Endpoint</button>
      </h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category,message in messages %}
                  {% if category == "error" %}
                    <div class="alert alert-dismissible alert-danger" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                    <strong>{{message}}</strong>
                    </div>
                  {% elif category == "success" %}
                    <div class="alert alert-dismissible alert-success" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                    <strong>{{message}}</strong>
                    </div>
                  {% endif %}
               {% endfor %}
              {% endif %}
            {% endwith %}
  <div class="modal fade" id="AddUrlModal" tabindex="-1" aria-labelledby="AddUrl" aria-hidden="true" role="dialog">
  <div class="modal-dialog .modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add URL</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{url_for('add_url', server_type=server_type)}}">
          <div class="row input-group mb-3">
            <label for="endpoint" class="form-label">URL</label>
            <input type="text" id="endpoint" class="form-control" placeholder="https://xyz.sdi.corp.bankofamerica.com:8000" aria-label="endpoint" aria-describedby="basic-addon2" name="endpoint" required>
        </div>
        <div class="row input-group mb-3">
        <label for="server_type" class="form-label">Server Type</label>
        <select class="form-select" id="server_type" name="server_type" required>
          <option selected>Choose...</option>
          <option value="Realtime">Realtime</option>
          <option value="Batch">Batch</option>
          <option value="Online">Online</option>
        </select>
        </div>
        <div class="row input-group mb-3">
          <label for="env" class="form-label">Environment</label>
          <input type="text" id="env" class="form-control" placeholder="DIF/SE/PL1..." aria-label="environment" aria-describedby="basic-addon2" name="environment" required>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"> Add </button>
      </div>
    </div>
  </form>
  </div>
</div>

    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 small lh-sm w-100">
        <table class="table table-hover">
        {% for row in rows %}
        <tr>
          <div class="d-flex justify-content-between">
            <td><strong class="text-gray-dark">{{row[0]}}</strong></td>
            <td></td>
            <td><a href="{{url_for('environment', user=user, server_type=server_type, env=row[0])}}"><button class="btn btn-primary">Test</button></a></td>
          </div>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
    </div>
  </div>

{% endblock %}