{% extends 'dashboard_layout.html' %}

{% block rightpanel %}

  <div class="col md-12">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h3 class="border-bottom pb-2 mb-0">{{server_type}}</h3>
    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 small lh-sm w-100">
        <table class="table table-hover">
        {% for row in rows %}
        <tr>
          <div class="d-flex justify-content-between">
            <td><strong class="text-gray-dark">{{row[0]}}</strong></td>
            <td>
              <form method="post" action="{{url_for('environment', user=user, server_type=server_type, env=row[0])}}">
                <input type="hidden" name="endpoint" value="submit" />
                <button class="btn btn-primary float-right" type="submit" >Test</button>
              </form>
            </td>
          </div>
        </tr>
        {% endfor %}
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category,message in messages %}
                  {% if category == "error" %}
                    <div class="alert alert-dismissible alert-danger" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                    <strong>{{message}}</strong>
                    </div>
                  {% elif category == "success" %}
                    <div class="alert alert-dismissible alert-success" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                    <strong>{{message}}</strong>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
        </table>
      </div>
    </div>
  </div>
    </div>
  </div>

{% endblock %}